html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.ds-none {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  // background-color: rgb(27, 77, 117);
  line-height: 1.1;
  // background-image: url(/images/shaun-frankland-nSl7IQGYpAQ-unsplash.jpg);
  // background-image: url(/images/nainoa-shizuru-NcdG9mK3PBY-unsplash.png);
  // background-position-y: center;
  // background-repeat: no-repeat;
}

.container {
  &--pall {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  &--py {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &--px {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &--pt {
    padding-top: 1rem;
  }

  &--pr {
    padding-right: 1rem;
  }

  &--pb {
    padding-bottom: 1rem;
  }

  &__pl {
    padding-left: 1rem;
  }
}

// Flex

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc {
    justify-content: center;
  }

  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-c {
    flex-direction: column;
  }
}

// .overlay {
//   background-color: rgba(0, 0, 0, 0.65);
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
// }
