:root {
  --color--black: black;
  --color--black-light: rgb(32, 32, 32);
  --color--white: rgb(245, 245, 245);
  --color--grey: rgb(127, 127, 133);
  --color--grey-light: #3f3f3f;
  --color--grey-medium: rgb(73, 73, 73);
  --color--grey-dark: #242424;

  --color--orange-light: #fdac79;
  --color--orange-dark: #c0510c;
  --color--orange: #f07122;

  --color--blue: #1f7eb5;

  --color--yellow: #f5e027;
}
