html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.ds-none {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
  background-image: url(/images/shaun-frankland-nSl7IQGYpAQ-unsplash.jpg);
}

.container--pall {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.container--py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container--px {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container--pt {
  padding-top: 1rem;
}

.container--pr {
  padding-right: 1rem;
}

.container--pb {
  padding-bottom: 1rem;
}

.container__pl {
  padding-left: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

html {
  font-size: 100%;
}

.header {
  background: white;
}

.header nav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header nav img {
  width: 10rem;
}

.header__links {
  display: none;
}

.header__links a {
  font-size: 0.95rem;
  color: black;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.header__toggle > span {
  background-color: black;
  display: block;
  height: 2px;
  width: 22px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}

@media (min-width: 87em) {
  .header__toggle {
    display: none;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  position: relative;
  padding-top: 11.5rem;
  color: white;
}

.hero h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.hero span {
  color: #f07122;
}

.hero p {
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.hero__buttons button {
  background: none;
  color: white;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: inherit;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.hero__buttons-new {
  padding: 0.5rem 3rem;
}

.hero__buttons-watch {
  padding: 0.5rem 1.84535rem;
}

@media (min-width: 43.75em) {
  .hero h1 {
    font-size: 2.625rem;
  }
  .hero__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__buttons button {
    margin: 1.5rem 0.5rem;
    font-size: 0.95rem;
    font-weight: 500;
    border: 1.5px solid white;
  }
  .hero__buttons-new {
    padding: 0.6rem 3rem;
  }
  .hero__buttons-watch {
    padding: 0.6rem 1.84535rem;
  }
  .hero p {
    font-size: 1.1rem;
  }
}

@media (min-width: 62em) {
  .hero {
    padding-top: 13rem;
  }
  .hero h1 {
    font-size: 3.875rem;
  }
  .hero p {
    font-size: 1.18rem;
  }
}

@media (min-width: 87em) {
  .hero {
    padding-top: 18rem;
  }
  .hero h1 {
    font-size: 4.131rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
  .hero button {
    border: 1.75px solid white;
  }
  .hero__buttons-new {
    padding: 0.75rem 3rem;
  }
  .hero__buttons-watch {
    padding: 0.75rem 1.84535rem;
  }
}
/*# sourceMappingURL=style.css.map */